* {
  margin: 0;
}


body {
  background-color: aqua;
}

.header {
  background-color: azure;
  display: flexbox;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  padding: 20px;
}

.header a{
  cursor: pointer;
}

.header .udemy-business > a:hover,
.header .categories > a:hover,
.header .teach-on-udemy > a:hover
{
color: rgb(108, 6, 224);
}

.header > span[class="categories"],
.header > span[class="udemy-business"],
.header > span[class="teach-on-udemy"]
{
  margin-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.header .udemy {
  font-size: 30px;
  font-family: Corbel;
  font-weight: 400px;
  margin-right: 8px;
}

.search {
  border: solid;
  border-radius: 40px;
  border-width: 1px;
  border-color: black;
  background-color: whitesmoke;
  padding-left: 2%;
  width: 42%;
  margin-right: 20px;
  padding-top: 1.5%;
  padding-bottom: 1%;
  font-size: 15px;
  padding-right: 1%;
}

.header .cart,
.header .continental {
  font-size: 20px;
}

.header button {
  padding: 10px 20px;
  margin-right: 5px;
  font-family: Segoe UI Black;
  cursor:pointer;
}

.header .log-in button{
  margin-left: 15px;
}


.header .log-in button,
.header .continental button {
  background-color: white;
  color: black;
  border-width: 1px;
  transition: background-color 0.15s;
}

.header .log-in button:hover,
.header .continental button:hover {
  background-color: whitesmoke;
  color: black;
}


.header .sign-up button {
  background-color: rgb(61, 59, 59);
  color: white;
  border-width: 1px;
  border: none;
  font-family: Segoe UI Black;
  transition: background-color 0.15s;

}
.header .sign-up button:hover{
  background-color: black;
  color: white;
}

.header .continental button {
  padding: 1px 4px 7px 4px;
  font-size: 20px;
}
