#featured-topics7{
  padding: 20px;
}

#featured-topics7 .featured-topics h3{
  font-weight:bolder;
  margin-bottom: 20px;
  font-size: larger;
}

#featured-topics7 .featured-topics{
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#featured-topics7 .featured-topics ul{
  list-style: none;
}

#featured-topics7 #topic{
  display: inline-block;
  margin-right: 25dvb ;
}

#featured-topics7 .sub-topics{
  margin-bottom: 10px;
  color: blueviolet;
  text-decoration: underline;
  font-weight: bolder;
  font-size: large;
}

#featured-topics7 .no-of-students{
  margin-bottom: 25px;
  color:rgb(116, 115, 115);
}

#featured-topics7 #topics-and-studentsno{
  margin:0;
  padding: 0;
}
